body, html {
	margin: 0;
	overflow: hidden;
	cursor: crosshair;
}

canvas {
	overflow: hidden;
}

div {
	pointer-events: none;
}

// #game-crosshair {
// 	position: absolute;
// }
//
// #game-crosshair-vertical {
// 	background-color: red;
// 	width: 1px;
// 	height: 6px;
// }
//
// #game-crosshair-horizontal {
// 	background-color: red;
// 	width: 6px;
// 	height: 1px;
// }
