body, html {
	margin: 0;
	overflow: hidden;
	cursor: crosshair;
	background-color: #000;
}

canvas {
	overflow: hidden;
}

#wave-won-msg {
	width: 800px;
	line-height: 590px;
	position: absolute;
	text-align: center;
	font-size: 80px;
	font-family: Arial;
	color: #fff;
	display: none;
	pointer-events: none;
}

#wave-count-container {
	top: 10px;
	width: 100px;
	margin: auto;
	padding: 10px;
	left: 0; right: 0;
	position: absolute;
	background-color: #222;
	border-radius: 2px;
	border: 1px solid #444;
	font-family: Arial;
	color: white;
}

#enemy-count-container {
	top: 10px;
	left: 650px;
	width: 120px;
	padding: 10px;
	position: absolute;
	background-color: #222;
	border-radius: 2px;
	border: 1px solid #444;
	font-family: Arial;
}

#enemy-count {
	color: #fff;
}

#menu {
	position: absolute;
	text-align: center;
}

#menu-button {
	color: #555;
	position: relative;
	font-family: Arial;
	font-size: 40px;
	background-color: #333;
	padding: 20px;
	cursor: pointer;
	transition: all;
}

#menu-button:hover {
	transform: scale(1.1);
}

#player-lifebar {
	top: 520px;
	left: 20px;
	width: 760px;
	height: 20px;
	position: absolute;
	background-color: #333;
}

#player-lifebar-inner {
}

#game-over-screen {
	color: red;
	width: 800px;
	font-size: 100px;
	position: absolute;
	text-align: center;
	font-family: Arial;
}

#game-over-text {
	user-select: none;
	line-height: 600px;
}

#try-again-button {
	top: 10px;
	left: 10px;
	padding: 10px;
	position: absolute;
	background-color: #333;
	font-size: 18px;
	cursor: pointer;
	color: #fff;
}

#try-again-button:hover {
	transform: scale(1.1);
}
